@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./inter-var.woff2') format('woff2');
}

.font-inter {
  font-family: 'Inter', system-ui, sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}